*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin-right: 400px;
  background-color: black;
  transform: translate(25%,50%);
}
.zigzag{
overflow: hidden;
}
th,td{
  padding: .25rem .5rem;
  text-align: left;
  vertical-align: top;
}
th{
  background-color: #099;
  color: #fff;
}
td{
  background-color: #eee;
}
tr{
  transition: all 2s ease-in-out;
  &.slide-out{
    transform: translateX(100%);
  }
}